@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;  
  font-size:12px;
  padding:2px 4px;
  color:#d14;
  background-color:#f7f7f9;
  border:1px solid #e1e1e8;
  -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}