@{
    Layout = "page";
    Title = "about";
    Date = "2014-03-12T11:59:09";
    Tags = "";
    Description = "";
}
<article class="page">
	<h1 class="title">About me</h1>
	
	<div class="entry-content">
        	Complete about	
	</div>
</article>